<?xml version="1.0"?>
<config>
    <modules>
        <UltraDev_SuggestedProducts>
            <version>1.0.0</version>
        </UltraDev_SuggestedProducts>
    </modules>

    <global>
        <blocks>
            <ultradev_suggestedproducts>
                <class>UltraDev_SuggestedProducts_Block</class>
            </ultradev_suggestedproducts>
        </blocks>
        <helpers>
            <ultradev_suggestedproducts>
                <class>UltraDev_SuggestedProducts_Helper</class>
            </ultradev_suggestedproducts>
        </helpers>
        <models>
            <ultradev_suggestedproducts>
                <class>UltraDev_SuggestedProducts_Model</class>
            </ultradev_suggestedproducts>
        </models>
        <events>
            <catalog_product_load_after>
                <observers>
                    <ultradev_suggestedproducts_inject>
                        <type>singleton</type>
                        <class>UltraDev_SuggestedProducts_Model_Observer</class>
                        <method>injectSuggestedProducts</method>
                    </ultradev_suggestedproducts_inject>
                </observers>
            </catalog_product_load_after>
            <checkout_cart_product_add_after>
                <observers>
                    <ultradev_suggestedproducts_crosssell>
                        <type>singleton</type>
                        <class>UltraDev_SuggestedProducts_Model_Observer</class>
                        <method>injectCrossSells</method>
                    </ultradev_suggestedproducts_crosssell>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <ultradev_suggestedproducts>
                    <file>ultradev_suggestedproducts.xml</file>
                </ultradev_suggestedproducts>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ultradev_suggestedproducts>
                                            <title>UltraDev SuggestedProducts Settings</title>
                                        </ultradev_suggestedproducts>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <ultradev_suggestedproducts>
            <general>
                <enabled>1</enabled>
            </general>
            <related>
                <enabled>1</enabled>
                <mode>same_category</mode>
                <limit>5</limit>
                <override_manual>0</override_manual>
            </related>
            <upsell>
                <enabled>1</enabled>
                <mode>higher_price</mode>
                <limit>4</limit>
                <price_factor>1.10</price_factor>
                <override_manual>0</override_manual>
            </upsell>
            <crosssell>
                <enabled>1</enabled>
                <mode>same_category</mode>
                <limit>4</limit>
                <override_manual>0</override_manual>
            </crosssell>
        </ultradev_suggestedproducts>
    </default>
</config>
